.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.apple {
  width: 100px; /* Change the width as desired */
  height: 100px; /* Change the height as desired */
  margin: 10px;
  cursor: pointer;
}

.apple img {
  width: 100%; /* Maintain the image's aspect ratio */
  height: 100%;
}